:root {
  --primary-color: #2E8B57;
  --accent-color: #FFD700;
  --background: #f9f9f9;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
